<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Comments for Content ID: {{ content_id }}</h1>
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
                <strong>{{ comment.email }}</strong>: {{ comment.comment }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

